*{
    margin-top: 5px;
    border-radius: 10px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    border-bottom: solid gainsboro;
    padding-bottom: 15px;
    font-family: sans-serif, verdana;
}

.logo{
    margin-left: 100px;
}

.nav-items {
    margin-top: 15px;
    margin-right: 120px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 5em;
    color: black;
}

a:link{
    color: black;
}

.nav-button{
    margin-right: 50px;
    display: flex;
    gap: 2em;
    padding: 10px;
    position: relative;
    width: 200px;
    margin-top: 2px;
}

.login,.signup{
    margin-top: 0px;
    background-color: black;
    color:white;
    border: black;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
}

.main{
    margin: 10px;
}

.main h2{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 90px;
    font-family: sans-serif;
    color: rgb(23, 67, 71);
}

.header-image{
    margin-top: -350px;
    margin-left: 600px;
    width: 60px;

    animation:2s linear 0s infinite running mySlide;
}

@keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-left: 30%;}
}

/* @keyframes mySlide {
    100%{transform: rotatez(360deg)}
} */

#hor{
    margin-left: 50px;
    width: 300px;
    color: black;
    margin-top: -150px;
}

.main p{
    font-family: Verdana;
    padding-top: 20px;
    margin-left: 50px;
}

.buynow{
    padding: 5px;
}

.arrow{
    margin-left: 0px;
    border: solid black;
    background-color: black;
    color: white;
    padding: 8px;
}

#p-image{
    margin-top: -100px;
    margin-left: 250px;
}

.buynow p:last-child{
    margin-left: 370px;
    margin-top: -115px;
}

.one{
    margin-top: -70px;
    margin-left: 1020px;
}

.features{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 30px;
    font-weight: bold;
    font-size: 23px;
}

.features p{
    border: solid whitesmoke;
    box-shadow: 20px 20px whitesmoke;
    padding: 55px 15px 15px 30px;
    width: 150px;
    height: 100px;
}

#proh{
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    font-family: sans-serif;
    color:rgb(23, 67, 71)
}

#prop{
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 40px;
}

.product-features{
    font-size: 20px;
    margin-top: -600px;
    margin-left: 800px;
}

.motor{
    margin-top: 150px;
    text-align: center;
}

.accessories{
    line-height: 0em;
    text-align: left;
    font-family: sans-serif;
}
.accessories h1{
    text-align: center;
    font-size: 50px;
    color:rgb(23, 67, 71);
}

.accessories p{
    font-family: sans-serif;
    font-size: 22px;
}

#golf{
    font-size: 50px;
    margin-top: 120px;
}

.shopping{
    margin-top: 100px;
    font-family: sans-serif;
    margin-left: 800px;
    line-height: 0em;
}
.shopping h1{
    margin-left: 50px;
    margin-top: 130px;
    font-size: 50px;
}
.shopping p{
    font-family: sans-serif;
    font-size: 22px;
    line-height: 0em;
}

.shop {
    position: absolute;
    margin-top: -400px;
    margin-left: -800px;
    width: 80%;
}
.more-accessories{
    margin-top: 200px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    border: solid rgb(23, 67, 71);
    width: 550px;
    border-radius: 10px;
    margin-left: 350px;
    padding-top: 5px;
}

.gallery{
    font-size:25px;
    font-family: sans-serif;
    text-align: center;
    color:rgb(23,67,71);
    margin-top: 100px;
}

.gallery p{
    color: black;
    font-size: 18px;
    margin-top: -30px;
}

#gallery-2{
    margin-top: 50px;
    text-align: right;
}
#gal-2{
    position: absolute;
    margin-left: 650px;
    margin-top: 100px;
    font-size: 40px;
}

#gallery-1{
    position: absolute;
    text-align: left;
    margin-top: 200px;
}
#gal-1{
    position: absolute;
    font-size: 40px;
    margin-top: 150px;
}

#gallery-3{
    margin-left: 500px;
}
#gal-3{
    font-size: 40px;
    position: absolute;
    margin-top: 50px;
    margin-left: 700px;
}

.battery{
    margin-right: 900px;
    padding-top: 25px;
    margin-left: 50px;
    margin-top: -300px;
    font-weight: bold;
    font-size: 50px;
    border: solid black;
    width: 450px;
    text-align: center;
    border-radius: 10px;
}
.spare-parts{
    margin-left: 50px;
    margin-right: 900px;
    margin-top: 10px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 50px;
    border: solid black;
    width: 450px;
    text-align: center;
    border-radius: 10px;
}
.charging-cable{
    text-align: center;
    margin-left: 50px;
    margin-right: 900px;
    margin-top: 20px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 40px;
    border: solid black;
    width: 450px;
    
    border-radius: 10px;
}

.colors{
    text-align: center;
    margin-top: 150px;
    font-family: sans-serif;
}
#colh{
    font-size: 50px;
    color:rgb(30, 33, 34);
}
#colp{
    font-size: 19px;
    margin-top: -30px;
    margin-right: 30px;
}

.color-images{
    position: absolute;
    margin-top: -100px;
    display: flex;
}

.testimonials{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 30px;
    display: flex;
    gap: 170px;
}

.box-1,.box-2,.box-3{
    padding: 5px;
    width: 270px;
    border: solid beige;
    box-shadow: 30px 30px lavender;
}

.testh{
    margin-top: 400px;
    margin-left: 500px;
    font-family: sans-serif;
    font-size: 45px;
    color: rgb(23, 67, 71);
}

.stars{
    margin-left: 70px;
    color: yellow;
}

#arrow1{
    
    border: solid black;
    border-radius: 30px;
    width: 50px;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-left: 700px;
    margin-top: 50px;
    background-color: black;
    color: white;
}



#arrow2{
    border: solid;
    border-radius: 30px;
    width: 50px;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-left: 620px;
    margin-top: -65px;
}

.subscribe h1{
    margin-top: 100px;
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
}
.subscribe p{
    text-align: center;
    font-family: 18px;
    margin-top: -30px;
    margin-right: 30px;
}

#sub{
    margin-left: 380px;
    text-align:center;
    position: absolute;
    padding: 30px;
    margin-top: 53px;
    border-radius: 10px;
    width: 300px;
}

#sub-button{
    margin-left: 760px;
    border: solid black;
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
}

.footer-section{
    background-color: rgb(39, 41, 41);
    margin-top: 100px;
}

.about{
    display: flex;
    text-align: left;
    gap: 2.5em;
    margin-left: 750px;
    line-height: 2em;
    color: white;
}
.about ul{
    list-style-type: none;

}

.box-about{
    font-family: sans-serif;
    margin-top: -450px;
}
.box-resources{
    font-family: sans-serif;
    margin-top: -450px;
    margin-right: 50px;
}
.box-legals{
    font-family: sans-serif;
    margin-top: -450px;
}

.box-about h2{
    position: sticky;
    margin-left: 40px;
}
.box-resources h2{
    position: sticky;
    margin-left: 40px;
}
.box-legals h2{
    position: sticky;
    margin-left: 40px;
}

.brands{
    font-size: 40px;
    display: flex;
    gap: 1em;
    margin-left: 1100px;
    color: white;
}

.copyright{
    color: white;
    font-size: 15px;
    margin-left: 500px;
    padding: 2px;
    font-family: sans-serif;
}